@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {


    /* change the values below to your colors from your palette */
    --primary-color: #FF715B   ;
    --secondary-color: #414073 ;
    --accent1-color: #57886C;
    --accent2-color: #E4FDE1;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #FF715B;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #FF715B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #FF715B  ;
    --nav-link-color: #E4FDE1;
    --nav-background-color: #414073;
    --nav-hover-link-color: #E4FDE1;
    --nav-hover-background-color: #57886C;
  }




nav{
    background-color: antiquewhite;
}

header{
    background-color: antiquewhite;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #414073;
    width: 100%;
}

body{
    margin: 0 auto;
    background-color: #4e7960;
    color: white;
    text-decoration: none;

    width: 100%;

    font-family: lato;
}

header nav{
    
    display: flex;
    justify-content: space-around;
    background-color: #414073;
    align-items: center;
}

header nav a{
    text-decoration: none;
    padding: 35px;
    font-size: 25px;
    color: white;
    
}

header nav :hover{
    background-color: #FF715B;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

.tab button:hover {
    background-color: #ddd;
  }

  .tab button.active {
    background-color: #ccc;
  }

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


.Top_Hero{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


    height: 100%;
    margin: 10px;
    background-color: #4e7960;

    z-index: 1;

    margin-top: 0;
}

.Background_Image{
    width: 100%;
    z-index: 0;

    grid-column: 1/9;
    grid-row: 1/3;
}

#Main_Hero_Title{
    z-index: 2;

    grid-column: 1/4;
    grid-row: 1/4;
    text-align: center;

}

#Beautiful_Boy{
    width: 100%;
    border: #3b3a64 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.Beautiful_Boy_Container p{
    text-align: center;
    
}

.Beautiful_Boy_Container{

    grid-column: 6/8;
    grid-row: 9/10;
    background-color: #414073;
    width: 100%;
    border-radius: 5px;
}

#Home_Hero_Img{
    width: 100%;

    grid-column: 1/4;
    grid-row: 1/4;
}

#Header_Logo{
    width: 80%;
    margin-left: 10px;
}


.Video_Card{
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 14fr 1fr;
}

.Video_Card_Title{
    height: 100%;
    width: 50%;

    background-color: #4e7960;

    position: relative;


    display: flex;
    align-items: center;
    margin-top: 0px ;
    font-size: 20px;

    margin: 0 auto;
    padding-left: 10px;

    overflow: hidden;
}


.Video_Card_Title:before {
    content: "";
    position: absolute;
    margin: -15px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: black;
  }


.Youtube_Video_Main{

    height: 100%;
    width: 100%;

    margin: 0 auto;
    padding: 0px;
    grid-row: 1/2;
    border-radius: 5px;
    

}

.News_Card{
    background-color: #4e7960;
    
    border-radius: 5px;
    
    align-items: center;

    width: 99%;
    height: 99%;
    margin: 0 auto;

    z-index: 1;
    padding: 1%;
    border: #3b3a64 1px solid;



}

.News_Card_Container{
    background-color: #FF715B;
    border-radius: 5px;

    grid-column: 6/8;
    grid-row: 2/3;

    display: flex;
}

.News_Card p {
    text-align: left;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;
    border: none;

}

.News_Card h3{
    text-align: center;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;

    grid-column: 1/2;
}

.News_Card_Element{

    z-index: 1;

    
}


#Modding_Main{
    background-color: #57886C;

    display: grid;
    grid-template-columns: 75px 1fr 2fr 2fr 2fr 2fr 1fr 75px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#Home_Main{
    display: grid;
    grid-template-columns: 25px 1fr 3fr 1fr 1fr 1fr 1fr 25px;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 1fr;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;

    border-radius: 10px;

    z-index: 1;

    background-color: #57886C;


}

#Content_1, #Content_2, #Content_3{


}

#Content_1{

    grid-column: 2/5;
    grid-row: 2/3;

    width: 100%;
    height: 100%;

    z-index: 1;

}


#Content_2{

    grid-column: 2/5;
    grid-row: 4/5;

    width: 100%;
    height: 100%;

    z-index: 1;

}

#Content_3{

    grid-column: 2/8;
    grid-row: 6/7;

    width: 100%;
    height: 100%;

    z-index: 1;

}

#HOME_PAGE_SCORE_BOARD{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: #3b3a64 1px solid;
}

#Home_Ranking_Container{
    
    background-color: #57886C;
    grid-column: 6/8;
    grid-row: 4/5;

}

#HOME_PAGE_RANKINGS{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: #3b3a64 1px solid;
}

#Event_Calandar_Card{

    width: 100%;
    height: 100%;

    grid-column: 2/5;
    grid-row: 9/11;

    z-index: 1;

}

#Event_Calandar{
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: #3b3a64 1px solid;


    z-index: 1;
}

.button{
    border-radius: 5px;
}


#Home_Information_Side_Box{
    margin: 0 auto;
    padding: 0px;
    background-color: #4e7960;
    border-radius: 5px;

    grid-column: 2/8;
    grid-row: 7/8;
}

#Home_Information_Side_Box p{

    padding: 10px;

    margin: auto;

    padding-top: 50px;

    justify-content: center;
    text-align: center;
    font-size: 20px;


}


footer{
    background-color: #414073;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

#Socials_Links{
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: center;
}

#Copyright_and_Text{

    grid-column: 1/2;
    text-align: left;

}

#Socials_Links a img{
    margin: 1%;
    padding: 10px;
    height: 50px;
    width: 50px;
    background-color: #3b3a64;
    border-radius: 10px ;
}

#Modding_Hero{
    width: 100%;
    grid-column: 1/9;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;

}

.SuggestionInput {
    width: 100%;
    height: 50%;
}

.Default_Image{
    width: 100%;
}

#Stellaris_Tab {
    grid-column: 2/8;
    grid-row: 1/5;
}

#Modding_Stellaris {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    text-align: center;
}

.Modding_Title_Card{
    grid-column: 2/3;
    justify-content: center;
    grid-row: 1/2;

    display: flex;

    color: white;
    font-size: 100px;
    font-family: Late;
    text-align: center;


    z-index: 2;
}

#Modding_Stellaris_Img{
    grid-column: 1/5;
    grid-row: 1/5;

    width: 100%;
}

.Modding_Game_Info{
    background-color: #4e7960;
    z-index: 2;

    grid-column: 1/4;
    grid-row: 4/5;
    opacity: 90%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;

}

.Modding_Game_Info_Text{

    grid-column: 1/3;
    grid-row: 1/2;

}

.Modding_Game_Info_Downloads{

}

.Modding_Game_Info_Downloads h6{
    font-size: 20px;
}

.Modding_Game_Info_Downloads a{
    color: white;
    text-decoration: none;
}

.Modding_Game_Info form{
    grid-column: 3/4;
}





#Vic3_Tab {
    grid-column: 2/8;
    grid-row: 1/5;
}

#Modding_Vic3 {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    text-align: center;
}

.Modding_Title_Card{
    grid-column: 2/3;
    justify-content: center;
    grid-row: 1/2;

    display: flex;

    color: white;
    font-size: 100px;
    font-family: Late;
    text-align: center;


    z-index: 2;
}

#Modding_Vic3_Img{
    grid-column: 1/5;
    grid-row: 1/5;

    width: 100%;
}

.Modding_Game_Info{
    background-color: #4e7960;
    z-index: 2;

    grid-column: 1/4;
    grid-row: 2/4;
    opacity: 90%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 100%;

}

.Modding_Game_Info_Text{

    grid-column: 1/3;
    grid-row: 1/2;

}

.Modding_Game_Info_Downloads{

}

.Modding_Game_Info_Downloads h6{
    font-size: 20px;
}

.Modding_Game_Info_Downloads a{
    color: white;
    text-decoration: none;
}

.Modding_Game_Info form{
    grid-column: 3/4;
}

.CopyRightImageBackground{
    grid-column: 4/5;
    grid-row: 5/6;
}