@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




:root {


    /* change the values below to your colors from your palette */
    --primary-color: #FF715B   ;
    --secondary-color: #414073 ;
    --accent1-color: #57886C;
    --accent2-color: #E4FDE1;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #FF715B;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #FF715B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #FF715B  ;
    --nav-link-color: #E4FDE1;
    --nav-background-color: #414073;
    --nav-hover-link-color: #E4FDE1;
    --nav-hover-background-color: #57886C;
  }




nav{
    background-color: antiquewhite;
}

header{
    background-color: antiquewhite;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #414073;
    width: 100%;
}

body{
    margin: 0 auto;
    color: white;
}

header nav{
    
    display: flex;
    justify-content: space-around;
    background-color: #414073;
    align-items: center;
}

header nav a{
    text-decoration: none;
    padding: 35px;
    color: white;
    
}

header nav :hover{
    background-color: #57886C;
}

#Header_Logo{
    width: 80%;
    margin-left: 10px;
}


.Video_Card{
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 14fr 1fr;
}

.Video_Card_Title{
    height: 100%;
    width: 100%;

    background-color: #4e7960;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    align-items: center;
    font-size: 20px;

    margin: 0 auto;
    padding-left: 10px;
}

.Youtube_Video_Main{

    height: 500px;
    width: 100%;

    margin: 0 auto;
    grid-row: 1/2;
    

}

.News_Card{
    background-color: #4e7960;
    border-radius: 5px;

    grid-column: 6/8;
    grid-row: 2/4;

    width: 100%;
    height: 100%;
    margin: 0 auto;


}


.News_Card p {
    text-align: left;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 10px;

}

.News_Card h3{
    text-align: center;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 20px;

    grid-column: 1/2;
}

.News_Card_Element{

    background-color: red;

    
}





main{
    display: grid;
    grid-template-columns: 75px 1fr 3fr 1fr 1fr 1fr 1fr 75px;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 1fr 4fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;

    background-color: #57886C;

}


#Content_1{

    grid-column: 2/5;
    grid-row: 2/3;

    width: 100%;
    height: 100%;

}


#Content_2{

    grid-column: 2/5;
    grid-row: 4/5;

    width: 100%;
    height: 100%;

}

#Content_3{

    grid-column: 2/5;
    grid-row: 6/7;

    width: 100%;
    height: 100%;

}

#Event_Calandar_Card{

    width: 100%;
    height: 100%;

    grid-column: 2/6;
    grid-row: 9/10;

}

#Event_Calandar{
    width: 100%;
    height: 100%;
}

.button{
    border-radius: 5px;
}

footer{
    background-color: #414073;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

#Socials_Links{
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: center;
}

#Copyright_and_Text{

    grid-column: 1/2;
    text-align: left;

}

#Socials_Links a img{
    margin: 1%;
    padding: 10px;
    height: 50px;
    width: 50px;
    background-color: #3b3a64;
    align-items: right;
    border-radius: 10px ;
}
